[goldfinch-dashboard] {
  display: flex;
  flex: 1 1 0%;
  flex-direction: column;
  width: 50%;
  min-width: 0;
}

.dashboard {
  width: 100%;
  height: 100%;
  padding: 20px 10px;
  overflow-y: scroll;
}

.card-body.card-body-loading {
  position: relative;

  &::before {
    content: 'loading';
  }
}

// Get rid of SS css
.dashboard .row {
  --bs-gutter-x: 1rem;

  margin-right: 0;
  margin-left: 0;
}

.dashboard .row .col {
  padding-right: 10px;
  padding-left: 10px;
}

.dashboard table {
  min-width: 100%;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.dashboard .card .card-header {
  position: relative;
  display: flex;
  justify-content: space-between;
  font-weight: 600;
}

.dashboard .card .card-header .card-action {
  position: absolute;
  top: 2px;
  right: 15px; // var(--bs-card-spacer-x);
  font-size: 20px;
  color: #778da9;
}

.dashcard {
}

.dashcard.dashcard--loading .card-body {
  min-height: 100px;
  background-color: #55bb82;
  mask-image: url('../dist/images/loading.svg');
  mask-repeat: no-repeat;

  // mask-image: url('../images/loading.svg');
  mask-position: center;
  mask-size: 50px;
}

.dashcard.dashcard--sitetree {
}

.dashcard.dashcard--sitetree .dashbox_row {
  display: flex;
  flex-wrap: wrap;
}

.dashcard.dashcard--sitetree .dashbox {
  display: inline-block;
  padding: 10px;
  margin: 0 10px 10px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.dashcard.dashcard--sitetree .dashbox > span {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

.dashcard.dashcard--sitetree .dashbox > ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.dashcard.dashcard--sitetree .dashbox > ul > li {
}

.dashcard.dashcard--sitetree .dashbox > ul > li > span:nth-of-type(1) {
  display: inline-block;
  margin-right: 5px;
  opacity: 0.75;
}
.dashcard.dashcard--sitetree .dashbox > ul > li > span:nth-of-type(2) {
}

.dashcard.dashcard--sitetree .dashcard__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.dashcard.dashcard--sitetree .dashcard__list li {
  display: flex;
}

.dashcard.dashcard--sitetree .dashcard__list li:nth-child(n + 2) {
  margin-top: 5px;
}

.dashcard.dashcard--sitetree .dashcard__list li a {
  display: inline-block;
  width: 50%;
  overflow: hidden;
  color: inherit;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;

  &:hover {
    opacity: 0.8;
  }
}

.dashcard.dashcard--sitetree .dashcard__list li i {
  position: relative;
  top: 1px;
  font-size: 16px;
  line-height: 1;
}

.dashcard.dashcard--sitetree .dashcard__list li .item__name {
  margin-left: 7px;
}

.dashcard.dashcard--sitetree .dashcard__list li .item__author {
  margin-left: auto;
  overflow: hidden;
  color: #666;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.dashcard.dashcard--assets {
}

.dashcard.dashcard--assets .dashcard__list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
}

.dashcard.dashcard--assets .dashcard__list li {
  margin: 0 10px 10px 0;
}

.dashcard.dashcard--assets .dashcard__list li a {
  position: relative;
  color: #666;
  text-decoration: none;
}

.dashcard.dashcard--assets .dashcard__list li a img {
  display: block;
  width: 100%;
  width: 120px;
  max-width: 100%;
  height: 120px;
  border-radius: 5px;
  object-fit: cover;
}

.dashcard.dashcard--assets .dashcard__list li a .editor__specs > span {
  position: absolute;
  top: 0;
  left: -5px;
  padding: 1px 4px;
  font-size: 9px;
  font-weight: bold;
  border-radius: 5px 0 0;
}

.dashcard.dashcard--assets .dashcard__list li > a > span {
  display: block;
}

.dashcard.dashcard--assets .dashcard__list li > a > span:nth-of-type(1) {
  margin: 5px 0 10px;
  font-size: 12px;
  font-weight: bold;
}
.dashcard.dashcard--assets .dashcard__list li > a > span:nth-of-type(2) {
}

.dashcard.dashcard--assets
  .dashcard__list
  li
  > a
  > span:nth-of-type(2)
  .editor__specs {
  font-size: 12px;
}

.dashcard.dashcard--assets .dashcard__list li > span {
  font-size: 12px;
}
