[goldfinch-dashboard] {
  display: flex;
  flex-direction: column;
  width: 50%;
  flex: 1 1 0%;
  min-width: 0;
}

.dashboard {
  padding: 20px 10px;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

.card-body.card-body-loading {
  position: relative;

  &:before {
    content: 'loading';
  }
}

// Get rid of SS css
.dashboard .row {
  --bs-gutter-x: 1rem;
  margin-left: 0;
  margin-right: 0;
}

.dashboard .row .col {
  padding-left: 10px;
  padding-right: 10px;
}

.dashboard table {
  margin-left: 0;
  margin-right: 0;
  min-width: 100%;
  margin-bottom: 0;
}

.dashboard .card .card-header {
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.dashboard .card .card-header .card-action {
  font-size: 20px;
  position: absolute;
  top: 2px;
  right: var(--bs-card-spacer-x);
  color: #778da9;
}

.dashcard {}

.dashcard.dashcard--loading .card-body {
  mask-size: 50px;
  mask-image: url('../dist/images/loading.svg');
  // mask-image: url('../images/loading.svg');
  mask-position: center;
  mask-repeat: no-repeat;
  background-color: #55bb82;
  min-height: 100px;
}

.dashcard.dashcard--sitetree {}
.dashcard.dashcard--sitetree .dashcard__list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.dashcard.dashcard--sitetree .dashcard__list li {
  display: flex;
}
.dashcard.dashcard--sitetree .dashcard__list li:nth-child(n + 2) {
  margin-top: 5px;
}
.dashcard.dashcard--sitetree .dashcard__list li a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 50%;

  &:hover {
    opacity: .8;
  }
}
.dashcard.dashcard--sitetree .dashcard__list li i {
  font-size: 16px;
  line-height: 1;
  position: relative;
  top: 1px;
}
.dashcard.dashcard--sitetree .dashcard__list li .item__name {
  margin-left: 7px;
}
.dashcard.dashcard--sitetree .dashcard__list li .item__author {
  margin-left: auto;
  color: #666;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}


.dashcard.dashcard--assets {}

.dashcard.dashcard--assets .dashcard__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.dashcard.dashcard--assets .dashcard__list li {
  margin: 0 10px 10px 0;
}
.dashcard.dashcard--assets .dashcard__list li a {
  text-decoration: none;
  color: #666;
}
.dashcard.dashcard--assets .dashcard__list li a img {
  display: block;
  width: 100%;
  object-fit: cover;
  width: 120px;
  height: 120px;
  max-width: 100%;
  border-radius: 5px;
}

.dashcard.dashcard--assets .dashcard__list li > a > span {
  display: block;
}

.dashcard.dashcard--assets .dashcard__list li > a > span:nth-of-type(1) {
  font-size: 12px;
  margin: 5px 0 10px;
  font-weight: bold;
}
.dashcard.dashcard--assets .dashcard__list li > a > span:nth-of-type(2) {}

.dashcard.dashcard--assets .dashcard__list li > a > span:nth-of-type(2) .editor__specs {
  font-size: 12px;
}

.dashcard.dashcard--assets .dashcard__list li > span {
  font-size: 12px;
}
