[goldfinch-dashboard] {
  display: flex;
  flex-direction: column;
  width: 50%;
  flex: 1 1 0%;
  min-width: 0;
}

.dashboard {
  padding: 20px 10px;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

.card-body.card-body-loading {
  position: relative;

  &:before {
    content: 'loading';
  }
}

// Get rid of SS css
.dashboard .row {
  margin-left: 0;
  margin-right: 0;
}

.dashboard .row .col {
  padding-left: 10px;
  padding-right: 10px;
}

.dashboard table {
  margin-left: 0;
  margin-right: 0;
  min-width: 100%;
  margin-bottom: 0;
}

.dashboard .card .card-header {
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.dashboard .card .card-header .card-action {
  font-size: 20px;
  position: absolute;
  top: 2px;
  right: var(--bs-card-spacer-x);
  color: #778da9;
}

.dashcard {}

.dashcard.dashcard--loading .card-body {
  mask-size: 50px;
  mask-image: url('./images/loading.svg');
  mask-position: center;
  mask-repeat: no-repeat;
  background-color: #55bb82;
  min-height: 100px;
}

.dashcard.dashcard--sitetree {}
.dashcard.dashcard--sitetree .dashcard__list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.dashcard.dashcard--sitetree .dashcard__list li {
  display: flex;
}
.dashcard.dashcard--sitetree .dashcard__list li:nth-child(n + 2) {
  margin-top: 5px;
}
.dashcard.dashcard--sitetree .dashcard__list li a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 50%;

  &:hover {
    opacity: .8;
  }
}
.dashcard.dashcard--sitetree .dashcard__list li i {
  font-size: 16px;
  line-height: 1;
  position: relative;
  top: 1px;
}
.dashcard.dashcard--sitetree .dashcard__list li .item__name {
  margin-left: 7px;
}
.dashcard.dashcard--sitetree .dashcard__list li .item__author {
  margin-left: auto;
  color: #666;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
